
#footer{
    padding-bottom: 1rem;
    position: sticky;
    bottom: 0px;
    z-index: 1;
}
#navbar{
    position: sticky;
    top:0px;
    z-index: 1;
}
#nav-username{
    margin-top:10px;
}
#main{
    height: 1000px;
}
#card{
    z-index: -1;
}

#Search{
    display: inline-flex;
    margin-left: auto;
}
