<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="icons/social-media.png" alt="" width="50" height="44" class="d-inline-block align-text-top">
        <span id="nav-username"></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" data-component="all-posts">Home</a>
          <a class="nav-link" href="#" data-component="write-post">Write new posts</a>
          <a class="nav-link" href="#">My Posts</a>
        </div>
        <form class="form" id="Search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> 
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      
    </div>
    
  </nav>


  <script src="/app/navbar.js"></script>
