<div class="h1 text-center">Write post</div>
<div class="container">
<form id="formid" action="#">
    <div class="form-group m-2" >
      <label for="title">Post Titel</label>
      <input class="form-control" id="title" placeholder="Title goes here..">
    </div>
    <div class="form-group m-2">
      <textarea class="form-control" id="body" placeholder="Write you post here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>
<script src="/app/write-posts.js"></script>

